@page "/solved-list"

<div class="solved-list list">
  <div class="solved-list-header">
    <h3>@solved.Title</h3>
  </div>
  <div class="solved-list-fields">
    <ul>
      @foreach (var item in solved.RowHeader)
      {
          <li>
            <button @onclick="@(e => SortByField(e, item))">@item.ToString()</button>
          </li>
      }
    </ul>
  </div>
  <div class="solved-list-items">
    <ul>
        @foreach(var item in solved.ListItems){
          <li>
          @foreach (var field in solved.RowHeader){
            <p>@solved.GetValueByField(item, field)</p>
          }
          </li>
        }
  </ul>
  </div>
</div>

@code{
  ItemsList solved;

  protected override void OnInitialized()
  {
    solved = ItemsList.CreateSolvedList();
  }

  private void SortByField(MouseEventArgs eventArgs, ItemsList.Field field)
  {
    try{
    solved.SortByFields(field, true);
    }catch(Exception e){
      Console.WriteLine("[Debug]: " + e.Message);
    }
  }
}