<div class="solving-table table">
  <div class="solving-table-header">
    <h3>@viewModel.Title</h3>
  </div>
  <div class="solving-table-fields">
    <ul>
      @foreach (var field in viewModel.Fields)
      {
          <li>
            <button @onclick="@(e => SortByField(e, field))">@field.ToString()</button>
          </li>
      }
    </ul>
  </div>
  <div class="solving-table-records">
    <ul>
        @foreach(var record in viewModel.Records){
          <li>
          @foreach (var field in viewModel.Fields){
            <p>@viewModel.GetValueByField(record, field)</p>
          }
          </li>
        }
  </ul>
  </div>
</div>

@code{
  SolvingTableViewModel viewModel = new SolvingTableViewModel();

  private void SortByField(MouseEventArgs eventArgs, Field field)
  {
    try
    {
      viewModel.SortByFields(field, true);
    }
    catch (Exception e)
    {
      Console.WriteLine("[Debug]: " + e.Message);
    }
  }
}