@inherits LayoutComponentBase

<div class="main">
    <div class="top-row px-4">
        <!-- Logo -->
        
        <!-- App Title -->
        <h1>알고리즘 인터뷰 집사</h1>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
